.container.project__container {
  width: 75%;
  display: grid;
  grid-template-columns: 1fr 1fr 1FR;
  gap: 2.5rem;
}

.project-link {
  margin: 10px;
}

.project__image {
  width: 10rem;
  aspect-ratio: 1/1;
  overflow: hidden;
  border-radius: 0%;
  margin: 0 auto 1rem;
  border: 0.4rem solid var(--color-primary-variant);
}

.project a {
  background-color: var(--color-bg);
  padding: 0.71rem;
  font-size: 0.85rem;
  border-radius: 0.5rem;
}

.project {
  background: var(--color-bg-variant);
  text-align: center;
  padding: 2rem;
  border-radius: 2rem;
  user-select: none;
}

.project__detail {
  color: var(--color-light);
  font-weight: 300;
  display: block;
  width: 80%;
  margin: 0.8rem auto 0;
  margin-bottom: 1.5rem;
}

@media screen and (max-width: 1024px) {
  .container.project__container {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 600px) {
  .container.project__container {
    width: var(--container-width-sm);
    grid-template-columns: 1fr;
  }
}
