.container__skills {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.5rem;
}

.container__skills > div {
  background: var(--color-bg-variant);
  opacity: 0.8;
  padding: 2.4rem 5rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
}

.container__skills > div:hover {
  background: transparent;
  border-color: var(--color-primary-variant);
  cursor: default;
}
.container__skills > div h3 {
  text-align: center;
  margin-bottom: 2rem;
  color: var(--color-white);
}

.skills_content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 2rem;
}
.skills_details {
  display: flex;
}

.skills_details-icon {
  margin-top: 6px;
  margin-right: 8px;
  color: var(--color-primary);
  font-size: 1.1rem;
}

@media screen and (max-width: 1024px) {
  .container__skills {
    grid-template-columns: 1fr;
  }
  .container__skills > div {
    width: 80%;
    padding: 2rem;
    margin: 0 auto;
  }
}
@media screen and (max-width: 600px) {
  .container__skills {
    gap: 1rem;
  }
}

.container__skills > div {
  width: 100%;
  padding: 2rem 1rem;
}
