.container.contact__container {
  width: 58%;
  display: grid;
  grid-template-columns: 30% 50%;
  gap: 12%;
}

.tooltip {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, 10px); /* Adjust this value as needed */
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 999; /* Ensure it's above other elements */
}

.contact__options {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.contact__option {
  background: var(--color-bg-variant);
  padding: 1.2rem;
  border-radius: 1.2rem;
  text-align: center;
  border: 1px solid transparent;
  transition: var(--transition);
}
.contact__option h4 {
  margin-top: 0.1rem;
}
.contact__option :hover {
  background: transparent;
  border-color: var(--color-primary-variant);
}

.contact__option-icon {
  font-size: 1.2rem;
  margin-bottom: 0.3rem;
  color: var(--color-primary);
}

.contact__option > a {
  margin-top: 0.7rem;
  display: inline-block;
  font-size: 0.8rem;
  background-color: var(--color-bg);
  background-color: transparent;
  color: var(--color-primary);

  padding: 0.5rem;
  border-radius: 0.4rem;
}

.contact__option > a:hover {
  background-color: var(--color-primary-variant);
  color: white;
}

/* form css */

form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

input,
textarea {
  width: 100%;
  padding: 1.5rem;
  border-radius: 0.5rem;
  background: transparent;
  border: 2px solid var(--color-primary-variant);
  resize: none;
  color: var(--color-white);
}
textarea {
  font-family: arial;
}

/* media queries */
@media screen and (min-width: 1025px) and (max-width: 1357px) {
  .container.contact__container {
    width: var(--container-width-lg);
  }

  .contact__option {
    font-size: 12px;
  }
}
@media screen and (max-width: 1024px) {
  .container.contact__container {
    grid-template-columns: 1fr;

    gap: 2rem;
  }
}
@media screen and (max-width: 600px) {
  .container.contact__container {
    grid-template-columns: 1fr;
    width: var(--container-width-sm);
  }
}
