header {
  margin-top: 4rem;
  height: 80vh;
  /* padding-top: 4rem; 7rem; */
  overflow: hidden;
}

.header__container {
  text-align: center;
  height: 100%;
  position: relative;
  /* margin-left: 45%; */
}

.cta {
  margin-top: 2.5rem;
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}

.header__socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8em;
  position: absolute;
  left: 0;
  bottom: 10rem; /*10rem; */
}

/* .header__socials::after {
  content: "";
  width: 1px;
  height: 2rem;
  bottom: 10rem;
  background: var(--color-primary);
} */
.socials-icon {
  font-size: 1.2rem;
}
.me {
  background: linear-gradient(var(--color-primary-variant), transparent);
  width: 22rem;
  height: 22rem;
  position: absolute;
  left: calc(50% - 11rem);
  margin-top: 2rem;
  border-radius: 12rem 12rem 0 0;
  padding: 1.5rem 1.5rem 1.5rem 1.5rem;
}

.scroll__down {
  position: absolute;
  right: -2.3rem;
  bottom: 14rem;
  transform: rotate(90deg);
  font-weight: 300;
  font-size: 0.9rem;
}

@media screen and (max-width: 1024px) {
  header {
    height: 75vh;
  }
}
@media screen and (max-width: 600px) {
  header {
    height: 55vh;
  }
  #mepic {
    display: none;
  }
  .me .header__socials,
  .scroll__down {
    display: none;
  }
  #social {
    display: none;
  }
}
